* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Nunito, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg,
      rgb(35, 38, 44) 0%,
      rgb(49, 50, 54) 50%,
      rgb(31, 31, 41) 100%);
}

.active {
  color: white !important;
}