.container {
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(90deg,
            rgb(35, 38, 44) 0%,
            rgb(49, 50, 54) 50%,
            rgb(31, 31, 41) 100%);
    box-shadow: 0 0 0px black;
    transition: box-shadow .25s;
    z-index: 10;
}

.logoContainer {
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image {
    width: 40px;
    height: 40px;
    transition: width .25s;
}

.name {
    font-size: 25px;
    font-weight: 800;
    color: white;
    user-select: none;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    width: 80%;
}

.links li a {
    padding: 10px;
    color: rgb(155, 155, 155);
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.548);
    margin: 0 10px 0 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    transition: all .25s;
    user-select: none;
}

.links li a:hover {
    text-shadow: 0 0 20px white;
}

.download {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    color: white;
    background-color: #0075b4;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    color: white;
    font-size: 30px;
}

@media (max-width: 900px) {
    .container {
        padding: 10px 0 100px 0;
        top: -285px;
        transition: all .5s;
    }

    .menu {
        width: 100%;
        flex-wrap: wrap;
    }

    .links li {
        width: 100%;
        margin: 15px 0 15px 0;
    }

    .links {
        width: 100%;
        text-align: center;
    }

    .logoContainer {
        position: absolute;
        bottom: 40px;
        width: 120px;
    }

    .icon {
        position: absolute;
        bottom: -30px;
    }

    .download {
        margin-top: 10px;
    }
}