.container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(90deg,
      rgb(35, 38, 44) 0%,
      rgb(49, 50, 54) 50%,
      rgb(31, 31, 41) 100%);
      box-shadow: 0 0 0px black;
      transition: box-shadow .25s;
}

.logoContainer {
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image {
    width: auto;
    height: 40px;
}

.name {
    font-size: 25px;
    font-weight: 800;
    color: white;
    user-select: none;
}

.links{
    display: flex;
    list-style-type: none;
}

.links li a{
    padding: 10px;
    color: rgb(155, 155, 155);
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.548);
    margin: 0 10px 0 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    transition: all .25s;
    user-select: none;
}

.links li a:hover{
    text-shadow: 0 0 20px white;
}

.download {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    color: white;
    background-color: #0075b4;
    text-shadow: 0 0 2px black;
    cursor: pointer;
    user-select: none;
}

.activo{
    background-color: red;
}